.App {
  text-align: center;
  height: 100%;
  border: red 1px solid;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.register {
  color: hotpink;
  /* border: 5px dotted hotpink; */
  margin-left: 20%;
  margin-right: 20%;
  padding: 5%;
  border-radius: 12px;
}

.inputContainer {
  border: 1px solid transparent;
  border-bottom: 1px solid hotpink;
  background-color: none;
  background: transparent;
  opacity: 1;
  width: 50%;
  margin-bottom: 2%;
}

.buttonOne {
  position: center;
  /* left: 13.77%;
right: 13.77%;
top: 82.14%;
bottom: 10.71%; */

  background: radial-gradient(
    140.21% 237.58% at 78.43% 139.84%,
    rgba(239, 1, 159, 0.75) 0%,
    rgba(239, 1, 159, 0) 100%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dashboard {
  display: table;
  margin: 0 auto;
  font-weight: 400;
  font-size: 5em;
  background: linear-gradient(
    330deg,
    #e05252 0%,
    rgba(239, 1, 159, 0.75) 25%,
    #52e0e0 50%,
    #9952e0 75%,
    #e05252 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 200px;
  height: 100px;
  border: red 1px solid;
  margin-top: 50%;
}

.logo {
  display: table;
  margin: 0 auto;
  font-weight: 400;
  font-size: 5em;
  background: linear-gradient(
    330deg,
    #e05252 0%,
    rgba(239, 1, 159, 0.75) 25%,
    #52e0e0 50%,
    #9952e0 75%,
    #e05252 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 200px;
}

.nav_bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu {
  display: flex;
}

.link {
  list-style: none;
  padding-left: 4%;
  padding-top: 5.6%;
}
.active {
  color: rgba(239, 1, 159, 0.75);
}
.active:hover {
  color: #ffffff;
  text-decoration: none;
}
