.App {
  text-align: center;

  /* border: red 1px solid; */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.register {
  color: hotpink;
  /* border: 5px dotted hotpink; */
  margin-left: 20%;
  margin-right: 20%;
  padding: 5%;
  border-radius: 12px;
}

.inputContainer {
  border: 1px solid transparent;
  border-bottom: 1px solid hotpink;
  background-color: none;
  background: transparent;
  opacity: 1;
  width: 50%;
  margin-bottom: 2%;
  color: white;
}

.buttonOne {
  position: center;
  /* left: 13.77%;
right: 13.77%;
top: 82.14%;
bottom: 10.71%; */

  background: radial-gradient(
    140.21% 237.58% at 78.43% 139.84%,
    rgba(239, 1, 159, 0.75) 0%,
    rgba(239, 1, 159, 0) 100%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dashboard {
  display: table;
  font-weight: 400;
  font-size: 5em;
  background: linear-gradient(
    330deg,
    #e05252 0%,
    rgba(239, 1, 159, 0.75) 25%,
    #52e0e0 50%,
    #9952e0 75%,
    #e05252 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 200px;
  height: 100px;
  width: 100%;
  border-bottom: 10px solid cyan;
}

.logo {
  /* border: 2px solid green; */
  padding: 0%;
  width: 0%;
  display: table;
  margin: 0;
  margin-bottom: 2%;
  font-weight: 400;
  font-size: 5em;
  background: linear-gradient(
    330deg,
    #e05252 0%,
    rgba(239, 1, 159, 0.75) 25%,
    #52e0e0 50%,
    #9952e0 75%,
    #e05252 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* line-height: 200px; */
}

.logo a {
  
  margin-bottom: 50%;
  padding: 0%;
}

.anchor {
  padding-top: 0%;
  margin-bottom: 10%;
}

.nav_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* justify-content: center; */
  height: 100px;
  width: 100%;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  margin-right: 2%;
}

.link {
  list-style: none;
  padding-left: 4%;
  padding-top: 5.6%;
  width: 100%;
}

.active {
  color: rgba(239, 1, 159, 0.75);
}
.active:hover {
  color: #ffffff;
  text-decoration: none;
}
.fav-button {
  height: 50px;
  width: 150px;

  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0px 10px 14px -7px #fbafe3;
  background: linear-gradient(to bottom, #ff5bb0 5%, #ef027d 100%);
  background-color: #ff5bb0;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 13px 11px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #c70067;
}

.fav-button:hover {
  background: linear-gradient(to bottom, #ef027d 5%, #ff5bb0 100%);
  background-color: #ef027d;
}

.fav-button:active {
  position: relative;
  top: 1px;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  font-size: 15px;
}
.favorites {
  display: table;
  margin: 0 auto;
  font-weight: 400;
  font-size: 5em;
  background: linear-gradient(
    330deg,
    #e05252 0%,
    rgba(239, 1, 159, 0.75) 25%,
    #52e0e0 50%,
    #9952e0 75%,
    #e05252 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 200px;
}
.playlist {
  color: #ffffff;
  margin-left: 200px;
  width: 75%;
}

table .th {
  color: #fff;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 20%;
  
}

.search-form {
  color: cyan;
  font-size: 1.5rem;
}

input[type=text]:focus {
  background-color: pink;
  color: green;
}

